.interactive-paragraph, .copyright{
    color: hsl(0, 0%, 55%);
}
@media(min-width:722px){
    .desktop-interactive-img {
            width: 60rem;
        }
    
        .rectangle {
            height: 22rem;
            width: 11rem;
        }
}
a{
    position: relative;
}
a:hover::after{
    content: "";
    display: block;
    left: 20%;
    right: 20%;
    width: 30px;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid white;
}